Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

.pre-commit-config.yaml:

# per default we only run over the files in the python package
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
        # but no large files anywhere ;)
        files: ''
        exclude: ".*getting_started.ipynb"
-   repo: local
    hooks:
      - id: ruff_format
        name: ruff_format 
        entry: poetry run ruff format
        language: system
        types: [python]
-   repo: local
    hooks:
      - id: ruff_check
        name: ruff_check
        entry: poetry run ruff check
        language: system
        types: [python]
        files: '^cfspopcon/'
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^cfspopcon/'
        exclude: ^cfspopcon/plotting
-   repo: local
    hooks:
      - id: check_variables
        name: Check variables
        entry: poetry run python tests/utils/variable_consistency_checker.py --run
        language: system
        pass_filenames: false
        always_run: true

Name the registry accessor cfspopcon.registry, and correct the docs
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  docs/doc_sources/understanding_algorithms.ipynb
  tests/test_algorithms_class.py
  tests/test_energy_confinement.py
Due: ruff_format, ruff_check, mypy

Trim unused surface and repeated test setup
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  tests/test_algorithms_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Keep the latched discovery failure's traceback from growing
  cfspopcon/_discovery.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Latch only failures that leave the registry inconsistent, and diagnose better
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  docs/doc_sources/understanding_algorithms.ipynb
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Stop the composite fixture leaking registrations between tests
  tests/test_registration_discovery.py
Due: ruff_format

Add pytest-randomly to deps
  poetry.lock
  pyproject.toml
Due: none

Complete discovery when Algorithm.instances is read
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  tests/test_registration_discovery.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Discover algorithms explicitly rather than on first registry read
  cfspopcon/__init__.py
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/cli.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  tests/conftest.py
  tests/test_registration_discovery.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Test downstream extension of the registry, and compact discovery
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  cfspopcon/unit_handling/__init__.py
  docs/doc_sources/understanding_algorithms.ipynb
  tests/conftest.py
  tests/test_downstream_extension.py
  tests/test_registration_discovery.py
  tests/utils/throwaway_packages.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Log the composite docstring fix, and tighten the discovery tests
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  cfspopcon/cli.py
  tests/conftest.py
  tests/test_downstream_extension.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Load each entry-point target only once
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  docs/doc_sources/understanding_algorithms.ipynb
  tests/conftest.py
  tests/test_downstream_extension.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Pin the popcon command's own discovery call
  cfspopcon/algorithm_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Address the review comments on discovery
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
Due: ruff_format, ruff_check, mypy

Correct the review-response wording
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
Due: ruff_format, ruff_check, mypy

Keep local paths and execution timestamps out of the notebooks
  .pre-commit-config.yaml
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  tests/utils/strip_notebook_timing.py
Due: ruff_format

Discover algorithms before regenerating the regression results
  tests/utils/regression_results.py
Due: ruff_format

Make the timing hook read as the loop it is
  tests/utils/regression_results.py
  tests/utils/strip_notebook_timing.py
Due: ruff_format

Tidy up __init__.py
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_pressure/__init__.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/intrinsic_radiated_power_from_core.py
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/__init__.py
  cfspopcon/formulas/separatrix_conditions/__init__.py
  cfspopcon/formulas/separatrix_conditions/separatrix_operational_space/__init__.py
  cfspopcon/variables.yaml
  docs/doc_sources/separatrix_operational_space.ipynb
  tests/test_energy_confinement.py
  tests/test_fluxes_and_inductances.py
  tests/test_plasma_profiles.py
  tests/test_reattachment.py
  tests/test_scrape_off_layer_model.py
  tests/test_sepos.py
  tests/test_volume_integral.py
Due: ruff_format, ruff_check, mypy

Document the formulas submodules by walking them
  .gitignore
  docs/conf.py
  docs/doc_sources/api.rst
  docs/doc_sources/dev_guide.rst
  docs/templates/autosummary/module.rst
Due: ruff_format

Remove the module and function name collision in impurities
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/formulas/impurities/set_up_impurity_concentration_array.py
  cfspopcon/variables.yaml
Due: ruff_format, ruff_check, mypy

Drop the entry-point group, leaving the package walk as the only route
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  docs/doc_sources/understanding_algorithms.ipynb
  tests/conftest.py
  tests/test_downstream_extension.py
  tests/test_registration_discovery.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Tidy up init py (#150)
  .gitignore
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/formulas/impurities/set_up_impurity_concentration_array.py
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_pressure/__init__.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/intrinsic_radiated_power_from_core.py
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/__init__.py
  cfspopcon/formulas/separatrix_conditions/__init__.py
  cfspopcon/formulas/separatrix_conditions/separatrix_operational_space/__init__.py
  cfspopcon/variables.yaml
  docs/conf.py
  docs/doc_sources/api.rst
  docs/doc_sources/dev_guide.rst
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/templates/autosummary/module.rst
  tests/test_energy_confinement.py
  tests/test_fluxes_and_inductances.py
  tests/test_plasma_profiles.py
  tests/test_reattachment.py
  tests/test_scrape_off_layer_model.py
  tests/test_sepos.py
  tests/test_volume_integral.py
Due: ruff_format, ruff_check, mypy

Fix the docstring of a named CompositeAlgorithm
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  tests/test_algorithms_class.py
Due: ruff_format, ruff_check, mypy

Export extend_default_units_map from cfspopcon.unit_handling
  CHANGELOG.md
  cfspopcon/unit_handling/__init__.py
Due: ruff_format, ruff_check, mypy

Discover algorithms by walking the package, and build composites afterwards
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/cli.py
  cfspopcon/formulas/__init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/variables.yaml
  docs/conf.py
  docs/doc_sources/api.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  tests/conftest.py
  tests/test_algorithms_class.py
  tests/test_downstream_extension.py
  tests/test_energy_confinement.py
  tests/test_for_anonymous_algorithms.py
  tests/test_registration_discovery.py
  tests/utils/regression_results.py
  tests/utils/throwaway_packages.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Compact the algorithm discovery code
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  docs/doc_sources/api.rst
  docs/doc_sources/understanding_algorithms.ipynb
  tests/conftest.py
  tests/test_downstream_extension.py
  tests/test_registration_discovery.py
  tests/utils/throwaway_packages.py
Due: ruff_format, ruff_check, mypy

Tidy up the formulas __init__.py files, and document the modules by walking them
  .gitignore
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/formulas/impurities/set_up_impurity_concentration_array.py
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_pressure/__init__.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/intrinsic_radiated_power_from_core.py
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/__init__.py
  cfspopcon/formulas/separatrix_conditions/__init__.py
  cfspopcon/formulas/separatrix_conditions/separatrix_operational_space/__init__.py
  cfspopcon/variables.yaml
  docs/conf.py
  docs/doc_sources/api.rst
  docs/doc_sources/dev_guide.rst
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/templates/autosummary/module.rst
  tests/test_energy_confinement.py
  tests/test_fluxes_and_inductances.py
  tests/test_plasma_profiles.py
  tests/test_reattachment.py
  tests/test_scrape_off_layer_model.py
  tests/test_sepos.py
  tests/test_volume_integral.py
Due: ruff_format, ruff_check, mypy

Compact the formulas __init__ tidy-up
  .gitignore
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/formulas/impurities/set_up_impurity_concentration_array.py
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_pressure/__init__.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/__init__.py
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/__init__.py
  cfspopcon/formulas/separatrix_conditions/__init__.py
  cfspopcon/formulas/separatrix_conditions/separatrix_operational_space/__init__.py
  cfspopcon/variables.yaml
  docs/conf.py
  docs/doc_sources/api.rst
  docs/templates/autosummary/module.rst
  tests/test_reattachment.py
  tests/test_scrape_off_layer_model.py
  tests/test_sepos.py
Due: ruff_format, ruff_check, mypy

Move set_up_impurity_concentration_array into the impurity helpers
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/formulas/impurities/set_up_impurity_concentration_array.py
  cfspopcon/variables.yaml
Due: ruff_format, ruff_check, mypy

feat(plugins): add register_plugin for external algorithm registration
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/plugins.py
  cfspopcon/unit_handling/default_units.py
  tests/test_plugins.py
Due: ruff_format, ruff_check, mypy

Register plugin packages from an input file's plugins section
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/algorithm_class.py
  cfspopcon/input_file_handling.py
  cfspopcon/plugins.py
  cfspopcon/unit_handling/default_units.py
  docs/doc_sources/api.rst
  tests/test_plugins.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

Blame the offending plugin, and load a plugin's own variables file
  CHANGELOG.md
  cfspopcon/plugins.py
  tests/test_plugins.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Fix the docstring of a named CompositeAlgorithm (#151)
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  tests/test_algorithms_class.py
Due: ruff_format, ruff_check, mypy

Export extend_default_units_map from cfspopcon.unit_handling (#152)
  CHANGELOG.md
  cfspopcon/unit_handling/__init__.py
Due: ruff_format, ruff_check, mypy

Document the plugin_variables.yaml shape with an example
  cfspopcon/plugins.py
Due: ruff_format, ruff_check, mypy

Keep point files valid JSON when a float's integer part uses all 6 figures
  cfspopcon/file_io.py
  tests/regression_results/AUG_SepOS_minTe.json
  tests/regression_results/PRD.json
  tests/test_file_io.py
Due: ruff_format, ruff_check, mypy

Fix the interactive-plot readout for unitful fill variables
  cfspopcon/plotting/coordinate_formatter.py
  tests/test_infra/test_plotting.py
Due: ruff_format, ruff_check

Add a reference page for the plot-style yaml keys
  docs/doc_sources/plot_styles.rst
  docs/index.rst
  example_cases/SPARC_PRD/plot_popcon.yaml
Due: none
