Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

.pre-commit-config.yaml:

# per default we only run over the files in the python package
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
        # but no large files anywhere ;)
        files: ''
        exclude: ".*getting_started.ipynb"
-   repo: local
    hooks:
      - id: ruff_format
        name: ruff_format 
        entry: poetry run ruff format
        language: system
        types: [python]
-   repo: local
    hooks:
      - id: ruff_check
        name: ruff_check
        entry: poetry run ruff check
        language: system
        types: [python]
        files: '^cfspopcon/'
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^cfspopcon/'
        exclude: ^cfspopcon/plotting
-   repo: local
    hooks:
      - id: check_variables
        name: Check variables
        entry: poetry run python tests/utils/variable_consistency_checker.py --run
        language: system
        pass_filenames: false
        always_run: true

Correct the input-files notebook section for the plugins route
  docs/doc_sources/understanding_algorithms.ipynb
Due: none

Drop the set_by/used_by bookkeeping from variables.yaml
  cfspopcon/variables.yaml
  tests/test_plugins.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Add registry queries for which algorithms set or use a variable
  cfspopcon/__init__.py
  cfspopcon/algorithm_class.py
  tests/test_algorithms_class.py
  tests/test_plugins.py
Due: ruff_format, ruff_check, mypy

Add a public name property to Algorithm and CompositeAlgorithm
  cfspopcon/algorithm_class.py
  cfspopcon/deprecation_handler.py
  tests/test_algorithms_class.py
Due: ruff_format, ruff_check, mypy

Hint at likely fixes when validate_inputs finds missing or unused parameters
  cfspopcon/algorithm_class.py
  docs/doc_sources/understanding_algorithms.ipynb
  tests/test_algorithms_class.py
  tests/test_plugins.py
Due: ruff_format, ruff_check, mypy

Add an end-to-end plugin-authoring docs page
  docs/doc_sources/authoring_a_plugin.rst
  docs/index.rst
Due: none

Let popcon_algorithms list plugin algorithms via a repeatable --plugin option
  cfspopcon/cli.py
  tests/test_plugins.py
Due: ruff_format, ruff_check, mypy

Update authoring_a_plugin.rst
  docs/doc_sources/authoring_a_plugin.rst
Due: none

Register external plugin packages
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/cli.py
  cfspopcon/input_file_handling.py
  cfspopcon/plugins.py
  cfspopcon/unit_handling/default_units.py
  docs/doc_sources/api.rst
  docs/doc_sources/authoring_a_plugin.rst
  docs/index.rst
  tests/test_plugins.py
Due: ruff_format, ruff_check, mypy

feat(registry)!: the registry owns its verbs
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  cfspopcon/cli.py
  cfspopcon/deprecation_handler.py
  cfspopcon/input_file_handling.py
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  tests/test_algorithms_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Do not shadow the algorithm decorator in the understanding_algorithms notebook
  docs/doc_sources/understanding_algorithms.ipynb
Due: none

Compare default units by pint equality, and return the added names from register_plugin
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  cfspopcon/unit_handling/default_units.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

docs(plugins): show a plugin's layout and usage in the register_plugin docstring
  cfspopcon/algorithm_class.py
  docs/doc_sources/authoring_a_plugin.rst
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
Due: ruff_format, ruff_check, mypy

fix(registry): register brings the builtins in before adding an algorithm
  cfspopcon/algorithm_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

fix(plugins): a failed registration evicts the plugin's modules, so a retry sees source fixes
  cfspopcon/algorithm_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

docs(plugins): state the return-value contract of register_plugin and its builtin wrapper
  CHANGELOG.md
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

fix(units): malformed units files fail with the documented ValueError
  cfspopcon/unit_handling/default_units.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

test: pin the new registry and plugin contracts
  tests/test_algorithms_class.py
  tests/test_registration_discovery.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format

docs(plugins): keep the Returns sections colon-free, so napoleon reads them as text
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

docs(registry): the registry attribute docstring carries the full contract
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

docs(plugins): complete the failure surface and the units-equivalence contract
  cfspopcon/algorithm_class.py
  cfspopcon/unit_handling/default_units.py
Due: ruff_format, ruff_check, mypy

docs: align the notebooks and the plugin page with the registry API
  docs/doc_sources/authoring_a_plugin.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
Due: none

fix(plugins): a failure during the bundled walk releases the discovery flag
  cfspopcon/algorithm_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

feat(typing): declare_algorithm preserves the decorated function's type
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  docs/conf.py
Due: ruff_format, ruff_check, mypy

fix(plugins): the rollback snapshot covers the whole registration
  cfspopcon/algorithm_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

fix: align every doc surface with the final API, round-two batch
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  cfspopcon/unit_handling/__init__.py
  cfspopcon/unit_handling/default_units.py
  docs/doc_sources/Usage.rst
  docs/doc_sources/authoring_a_plugin.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

docs(api): say which registration consults the override flag
  CHANGELOG.md
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

fix(algorithms): run() accepts a supplied optional input without an unused warning
  CHANGELOG.md
  cfspopcon/algorithm_class.py
  tests/test_algorithms_class.py
Due: ruff_format, ruff_check, mypy

docs(changelog): prune and correct the Unreleased section
  CHANGELOG.md
Due: none

Fix the interactive-plot readout for unitful fill variables
  cfspopcon/plotting/coordinate_formatter.py
  tests/test_infra/test_plotting.py
Due: ruff_format, ruff_check

Add a reference page for the plot-style yaml keys
  docs/doc_sources/plot_styles.rst
  docs/index.rst
  example_cases/SPARC_PRD/plot_popcon.yaml
Due: none

Keep point files valid JSON when a float's integer part uses all 6 figures
  cfspopcon/file_io.py
  tests/regression_results/AUG_SepOS_minTe.json
  tests/regression_results/PRD.json
  tests/test_file_io.py
Due: ruff_format, ruff_check, mypy

docs(changelog): note the point-file, readout, and plot-style changes
  CHANGELOG.md
Due: none

feat(release): a prepare/publish/verify release helper
  docs/doc_sources/dev_guide.rst
  scripts/release.py
  tests/test_release_script.py
Due: ruff_format
