Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

ruff_format:
  name: ruff_format
  entry: poetry run ruff format
  language: system

ruff_check:
  name: ruff_check
  entry: poetry run ruff check
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Compatibility fix for Py3.9
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

Limit JSON print to 10 significant figures
  cfspopcon/file_io.py
  tests/regression_results/AUG_SepOS_minTe.json
  tests/regression_results/PRD.json
Due: ruff_format, ruff_check, mypy

Add a context manager for modifying the JSON encoder
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

Arrrgh Py3.9
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

make names private
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

Limit JSON print to 10 significant figures (#86)
  cfspopcon/file_io.py
  tests/regression_results/AUG_SepOS_minTe.json
  tests/regression_results/PRD.json
Due: ruff_format, ruff_check, mypy

Add switch for L-mode confinement below PLH
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/switch_confinement_scaling_on_threshold.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
Due: ruff_format, ruff_check, mypy

Add test for switch to L-mode below LH power threshold
  tests/test_confinement_switch.py
Due: ruff_format

ruff ruff
  tests/test_confinement_switch.py
Due: ruff_format

L/H-mode confinement time consistent with fLH (#70)
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/switch_confinement_scaling_on_threshold.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_confinement_switch.py
Due: ruff_format, ruff_check, mypy

Apply coupling factor to RF power only
  cfspopcon/formulas/auxillary_power/auxillary_power.py
  cfspopcon/formulas/fusion_power/fusion_gain.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
  example_cases/SPARC_PRD/plot_remapped.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Apply coupling factor to RF power only (#87)
  cfspopcon/formulas/auxillary_power/auxillary_power.py
  cfspopcon/formulas/fusion_power/fusion_gain.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
  example_cases/SPARC_PRD/plot_remapped.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Run poetry update to get radas v2024.8.0
  poetry.lock
Due: none

Require radas >= 2024.8.0 (no gfortran) in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

kallenbach analytical neutral pressure from neSep
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  docs/refs.bib
Due: ruff_format, ruff_check, mypy

added sheath heat transmission coefficient to PRD
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: none

Run poetry update to get radas v2024.8.0 (#88)
  poetry.lock
  pyproject.toml
Due: none

adding integration test
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  cfspopcon/variables.yaml
  tests/test_reattachment.py
Due: ruff_format, ruff_check, mypy

clean up equation for p0
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
Due: ruff_format, ruff_check, mypy

precommit fixes import reordering
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
Due: ruff_format, ruff_check, mypy

Allow the use of "convert_units" after calling pint.dequantify()
  cfspopcon/unit_handling/setup_unit_handling.py
Due: ruff_format, ruff_check, mypy

CI fix 2
  tests/test_reattachment.py
Due: ruff_format

Run pre-commit on test_reattachment
  tests/test_reattachment.py
Due: ruff_format

Update cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
Due: ruff_format, ruff_check, mypy

Apply suggestions from code review pt 1/2
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  docs/doc_sources/physics_glossary.rst
  tests/test_reattachment.py
Due: ruff_format, ruff_check, mypy

Apply suggestions from code review pt 2/2
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  docs/refs.bib
  tests/test_reattachment.py
Due: ruff_format, ruff_check, mypy

scientific (non CS) revisions
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  docs/refs.bib
  tests/test_reattachment.py
Due: ruff_format, ruff_check, mypy

changed volume calc, added p_duct calc
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_reattachment.py
Due: ruff_format, ruff_check, mypy

added kallenbach / henderson reattachment model (#89)
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/reattachment_models.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  docs/refs.bib
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_reattachment.py
Due: ruff_format, ruff_check, mypy

Remove duplicated formula and add separatrix_electron_temp as Algorithm
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/separatrix_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/upstream_electron_temp.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
Due: ruff_format, ruff_check, mypy

Skip undefined varibles in output
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

Improve warnings from decorators
  cfspopcon/algorithm_class.py
  cfspopcon/unit_handling/decorator.py
Due: ruff_format, ruff_check, mypy

Add NT confinement scaling
  cfspopcon/formulas/energy_confinement/energy_confinement_scalings.yaml
  docs/refs.bib
Due: none

Update cfspopcon/formulas/energy_confinement/energy_confinement_scalings.yaml
  cfspopcon/formulas/energy_confinement/energy_confinement_scalings.yaml
Due: none

Algorithm constructor "from_list"
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Rename parallel_heat_flux_density to q_parallel
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_density.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_flux.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_first_model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
Due: ruff_format, ruff_check, mypy

auxillary --> auxiliary replace all
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/auxiliary_power/auxiliary_power.py
  cfspopcon/formulas/auxillary_power/__init__.py
  cfspopcon/formulas/auxillary_power/auxillary_power.py
  cfspopcon/formulas/fusion_power/fusion_gain.py
  cfspopcon/variables.yaml
  docs/doc_sources/api.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/understanding_algorithms.ipynb
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
  example_cases/SPARC_PRD/plot_remapped.yaml
  tests/regression_results/PRD.json
Due: ruff_format, ruff_check, mypy

Remove duplicated formula and add separatrix_electron_temp as Algorithm (#91)
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/separatrix_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_density.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_flux.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_first_model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
  cfspopcon/formulas/scrape_off_layer/upstream_electron_temp.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
Due: ruff_format, ruff_check, mypy

Use Zenodo concept DOI in Github bade
  README.md
Due: none

Path conditions:
  ruff_format: any of: \.py$
  ruff_check: any of: ^cfspopcon/ and \.py$
  mypy: any of: ^cfspopcon/ and \.py$ and not (^cfspopcon/plotting)
