Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

ruff_format:
  name: ruff_format
  entry: poetry run ruff format
  language: system

ruff_check:
  name: ruff_check
  entry: poetry run ruff check
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Input_file_handling_robustness (#107)
  .gitignore
  cfspopcon/__init__.py
  cfspopcon/algorithm_class.py
  cfspopcon/file_io.py
  cfspopcon/input_file_handling.py
  docs/conf.py
  pyproject.toml
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_algorithms_class.py
  tests/test_confinement_switch.py
  tests/test_docs.py
  tests/test_for_anonymous_algorithms.py
  tests/test_helpers.py
  tests/test_infra/test_line_selection.py
  tests/test_input_file_handling.py
  tests/test_reattachment.py
  tests/test_regression_against_cases.py
  tests/test_sepos.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

Bump version to 7.0.2
  pyproject.toml
Due: none

Add kinetic correction functionality to 2PM solver, plus new example cases (#112)
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/parallel_conduction.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/upstream_SOL_collisionality.py
  cfspopcon/helpers.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
  example_cases/SPARC_PRD_FluxLim/input.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_Tt.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_Tu.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_collisionality.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_fke.yaml
  example_cases/SPARC_PRD_FluxLim/plot_popcon.yaml
  example_cases/SPARC_PRD_FluxLim/plot_remapped.yaml
  example_cases/SPARC_PRD_KinCorr/input.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_Tt.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_Tu.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_collisionality.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_dgamma.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_fke.yaml
  example_cases/SPARC_PRD_KinCorr/plot_popcon.yaml
  example_cases/SPARC_PRD_KinCorr/plot_remapped.yaml
Due: ruff_format, ruff_check, mypy

Use unitfull alias
  cfspopcon/formulas/scrape_off_layer/separatrix_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/parallel_conduction.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/required_power_loss_fraction.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/separatrix_pressure.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_density.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_flux.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/upstream_SOL_collisionality.py
  cfspopcon/unit_handling/__init__.py
  cfspopcon/unit_handling/decorator.py
  cfspopcon/unit_handling/default_units.py
  cfspopcon/unit_handling/setup_unit_handling.py
  docs/doc_sources/physics_glossary.rst
Due: ruff_format, ruff_check, mypy

chore: bump version to 7.0.2 (#111)
  pyproject.toml
Due: none

WIP: Add doc-strings for new functions
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/parallel_conduction.py
  docs/refs.bib
Due: ruff_format, ruff_check, mypy

Start tidying up 2pm solve
  cfspopcon/formulas/scrape_off_layer/two_point_model/kinetic_corrections.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/upstream_SOL_collisionality.py
Due: ruff_format, ruff_check, mypy

Minor fixes based on previous review
  cfspopcon/formulas/scrape_off_layer/two_point_model/kinetic_corrections.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/separatrix_SOL_collisionality.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  example_cases/SPARC_PRD_FluxLim/plot_SOL_collisionality.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_collisionality.yaml
Due: ruff_format, ruff_check, mypy

Add Kallenbach momentum loss
  cfspopcon/formulas/scrape_off_layer/two_point_model/momentum_loss_functions.py
  cfspopcon/named_options.py
Due: ruff_format, ruff_check, mypy

Add Eich regression 9
  cfspopcon/formulas/scrape_off_layer/lambda_q.py
  cfspopcon/variables.yaml
Due: ruff_format, ruff_check, mypy

Backwards compatibility: add reg 9 to named options
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/lambda_q.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
Due: ruff_format, ruff_check, mypy

Fix doctest
  docs/conf.py
Due: ruff_format

Call unitless func for reg 9
  cfspopcon/formulas/scrape_off_layer/lambda_q.py
Due: ruff_format, ruff_check, mypy

Fix bug: hadn't passed lambda_q to reg 9 in wrapper
  cfspopcon/formulas/scrape_off_layer/lambda_q.py
Due: ruff_format, ruff_check, mypy

Add tests for lambda_q scalings
  tests/test_scrape_off_layer_model.py
Due: ruff_format

Py3.9 compatibility
  tests/test_scrape_off_layer_model.py
Due: ruff_format

feat: Add lambda_q Eich regression 9 (#114)
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/lambda_q.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
  docs/conf.py
  tests/test_scrape_off_layer_model.py
Due: ruff_format, ruff_check, mypy

add reference for flux limiter
  cfspopcon/formulas/scrape_off_layer/two_point_model/kinetic_corrections.py
Due: ruff_format, ruff_check, mypy

Add option to register CompositeAlgorithm.from_list
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Add option to register CompositeAlgorithm.from_list (#118)
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Update kinetic_corrections.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/kinetic_corrections.py
Due: ruff_format, ruff_check, mypy

Update separatrix_SOL_collisionality.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/separatrix_SOL_collisionality.py
Due: ruff_format, ruff_check, mypy

Update packages
  .github/workflows/workflow_actions.yml
  docs/conf.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/refs.bib
  poetry.lock
  pyproject.toml
Due: ruff_format

Run ruff
  cfspopcon/__init__.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_pressure/__init__.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/__init__.py
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/__init__.py
  cfspopcon/formulas/separatrix_conditions/__init__.py
  cfspopcon/formulas/separatrix_conditions/separatrix_operational_space/__init__.py
  cfspopcon/plotting/__init__.py
  cfspopcon/shaping_and_selection/__init__.py
  cfspopcon/unit_handling/__init__.py
Due: ruff_format, ruff_check, mypy

Pre-commit
  .pre-commit-config.yaml
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/mavrin_coronal.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/post_and_jensen.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Repair use of "floating" as type modifier
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  pyproject.toml
Due: ruff_format, ruff_check, mypy

Update poetry lock file
  poetry.lock
Due: none

Ignore problematic link
  docs/conf.py
Due: ruff_format

Bump version to 7.1.0
  pyproject.toml
Due: none

Drop Python 3.9 support and update packages (#121)
  .github/workflows/workflow_actions.yml
  .pre-commit-config.yaml
  cfspopcon/__init__.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_pressure/__init__.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/formulas/radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/mavrin_coronal.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/post_and_jensen.py
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/__init__.py
  cfspopcon/formulas/separatrix_conditions/__init__.py
  cfspopcon/formulas/separatrix_conditions/separatrix_operational_space/__init__.py
  cfspopcon/plotting/__init__.py
  cfspopcon/shaping_and_selection/__init__.py
  cfspopcon/unit_handling/__init__.py
  docs/conf.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/refs.bib
  poetry.lock
  pyproject.toml
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Define legend location and demonstrate use of cbar_label
  cfspopcon/plotting/plots.py
  example_cases/SPARC_PRD/plot_popcon.yaml
Due: ruff_format, ruff_check

Work in progress — enable output at given point
  cfspopcon/file_io.py
  cfspopcon/plotting/plots.py
  cfspopcon/shaping_and_selection/__init__.py
  cfspopcon/shaping_and_selection/point_selection.py
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
Due: ruff_format, ruff_check, mypy

Enable output at given point
  cfspopcon/file_io.py
  cfspopcon/plotting/plots.py
  cfspopcon/shaping_and_selection/__init__.py
  cfspopcon/shaping_and_selection/point_selection.py
Due: ruff_format, ruff_check, mypy

Enable "interp_to" method for dataset
  cfspopcon/file_io.py
  cfspopcon/plotting/plots.py
  cfspopcon/shaping_and_selection/__init__.py
  cfspopcon/shaping_and_selection/point_selection.py
Due: ruff_format, ruff_check, mypy

Tidier Enum handling
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

Start work on point config class
  cfspopcon/shaping_and_selection/point_config_class.py
  tests/conftest.py
  tests/test_points_config.py
Due: ruff_format, ruff_check, mypy

Bump radas to v2025.6.1
  poetry.lock
Due: none

Cut version v7.1.1
  pyproject.toml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Handle atomic data interpolation with CoeffInterpolator
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radas.py
  cfspopcon/unit_handling/decorator.py
  tests/test_atomic_data.py
Due: ruff_format, ruff_check, mypy

Path conditions:
  ruff_format: any of: \.py$
  ruff_check: any of: ^cfspopcon/ and \.py$
  mypy: any of: ^cfspopcon/ and \.py$ and not (^cfspopcon/plotting)
