Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy

black:
  name: Black
  entry: poetry run black
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Run with Py3.12
  cfspopcon/shaping_and_selection/transform_coords.py
  poetry.lock
  pyproject.toml
  tests/test_atomic_data.py
Due: black, ruff, mypy

Use ruff for formatting, remove black
  .pre-commit-config.yaml
  cfspopcon/algorithm_class.py
  cfspopcon/cli.py
  cfspopcon/formulas/fusion_power/fusion_rates.py
  cfspopcon/formulas/read_atomic_data.py
  cfspopcon/formulas/separatrix_conditions/threshold_power.py
  cfspopcon/formulas/zeff_and_dilution/impurity_charge_state.py
  cfspopcon/input_file_handling.py
  poetry.lock
  pyproject.toml
  tests/test_atomic_data.py
  tests/test_cli.py
  tests/test_for_anonymous_algorithms.py
  tests/test_infra/test_line_selection.py
  tests/test_sepos.py
  tests/test_unit_handling/test_default_units.py
Due: black, ruff, mypy

Test 3.12 in ci
  .github/workflows/workflow_actions.yml
Due: none

add setuptools for workaround for https://github.com/mcmtroffaes/sphinxcontrib-bibtex/issues/345
  poetry.lock
  pyproject.toml
Due: none

Allow floats in AtomicData routines [mypy]
  cfspopcon/formulas/read_atomic_data.py
  cfspopcon/formulas/zeff_and_dilution/impurity_charge_state.py
Due: black, ruff, mypy

Update github actions workflow versions
  .github/workflows/workflow_actions.yml
Due: none

Add flux consumption model from I. Savona
  .github/workflows/workflow_actions.yml
  cfspopcon/cli.py
  cfspopcon/default_units.yaml
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/geometry/analytical.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/flux_consumption.py
  cfspopcon/formulas/plasma_current/flux_consumption/inductance_analytical_functions.py
  cfspopcon/formulas/plasma_current/flux_consumption/inductances.py
  cfspopcon/named_options.py
  docs/conf.py
  docs/doc_sources/Usage.rst
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/time_independent_inductance_and_fluxes.ipynb
  docs/refs.bib
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_fluxes_and_inductances.py
Due: black, ruff, mypy

commiting notebook ported to new style
  docs/doc_sources/time_independent_inductance_and_fluxes.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
Due: none

Minor fixes to get non-cylindrical inductance calc running
  cfspopcon/default_units.yaml
  cfspopcon/formulas/plasma_current/flux_consumption/flux_consumption.py
Due: black, ruff, mypy

changed notebook to reflect newer style
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
Due: none

same as before
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
Due: none

Flux consumption 2 (w/ notebook) (#64)
  docs/doc_sources/time_independent_inductance_and_fluxes.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
Due: none

Update name of notebook in ReadTheDocs
  docs/doc_sources/Usage.rst
Due: none

Add flux consumption model from I. Savona (#57)
  .github/workflows/workflow_actions.yml
  cfspopcon/cli.py
  cfspopcon/default_units.yaml
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/geometry/analytical.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/flux_consumption.py
  cfspopcon/formulas/plasma_current/flux_consumption/inductance_analytical_functions.py
  cfspopcon/formulas/plasma_current/flux_consumption/inductances.py
  cfspopcon/named_options.py
  docs/conf.py
  docs/doc_sources/Usage.rst
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/refs.bib
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_fluxes_and_inductances.py
Due: black, ruff, mypy

Update time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
Due: none

Crude switch to L-mode energy confinement time if not above the LH power threshold
  cfspopcon/formulas/energy_confinement/switch_confinement_scaling_on_threshold.py
  example_cases/SPARC_PRD/input.yaml
Due: black, ruff, mypy

Add switch_to_L_mode_confinement_below_threshold to __init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
Due: black, ruff, mypy

Fix change to L-mode confinement to be when PSOL < PLH and generalize to allow selecting your Lmode confinement time scaling law
  cfspopcon/default_units.yaml
  cfspopcon/formulas/energy_confinement/switch_confinement_scaling_on_threshold.py
  docs/doc_sources/physics_glossary.rst
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
Due: black, ruff, mypy

Update __init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
Due: black, ruff, mypy

Revert to original PRD resolution
  example_cases/SPARC_PRD/input.yaml
Due: none

fix(doc): remove incorrect --with flag in install command
  docs/doc_sources/Usage.rst
Due: none

fix(doc): remove incorrect --with flag in install command (#71)
  docs/doc_sources/Usage.rst
Due: none

Require v2024.7.1 of radas
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
  pyproject.toml
Due: none

fix(radas): Require v2024.7.1 of radas (#73)
  poetry.lock
  pyproject.toml
Due: none

Allow CompositeAlgorithms to be registered
  cfspopcon/algorithm_class.py
Due: black, ruff, mypy

Add pickleshare to dev packages Switches off a warning in the Jupyter notebooks
  poetry.lock
  pyproject.toml
Due: none

Add a notebook describing the usage of Algorithms
  docs/conf.py
  docs/doc_sources/Usage.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
Due: black

Allow for extensible default_units
  cfspopcon/unit_handling/__init__.py
  cfspopcon/unit_handling/default_units.py
  docs/doc_sources/getting_started.ipynb
  tests/test_unit_handling/test_default_units.py
Due: black, ruff, mypy

Remove print debugging
  cfspopcon/unit_handling/default_units.py
Due: black, ruff, mypy

Change default behaviour for Composite to not register
  cfspopcon/algorithm_class.py
Due: black, ruff, mypy

Tidies up documentation and adds a notebook explaining the use of Algorithms (#74)
  cfspopcon/algorithm_class.py
  docs/conf.py
  docs/doc_sources/Usage.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy

Add calc_average_electron_density_from_greenwald_fraction
  cfspopcon/default_units.yaml
  cfspopcon/formulas/metrics/greenwald_density.py
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: black, ruff, mypy

Fix broken notebook (hadn't added register=True for CompositeAlgorithm)
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
Due: none

Add greenwald limit to docs
  cfspopcon/formulas/metrics/__init__.py
  docs/doc_sources/physics_glossary.rst
Due: black, ruff, mypy

Path conditions:
  black: any of: \.py$
  ruff: any of: ^cfspopcon/ and \.py$
  mypy: any of: ^cfspopcon/ and \.py$ and not (^cfspopcon/plotting)
