Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

ruff_format:
  name: ruff_format
  entry: poetry run ruff format
  language: system

ruff_check:
  name: ruff_check
  entry: poetry run ruff check
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Tidy up doc-strings
  cfspopcon/formulas/metrics/greenwald_density.py
Due: ruff_format, ruff_check, mypy

Update cfspopcon/formulas/metrics/greenwald_density.py
  cfspopcon/formulas/metrics/greenwald_density.py
Due: ruff_format, ruff_check, mypy

Electron density from greenwald (#77)
  cfspopcon/default_units.yaml
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/metrics/greenwald_density.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Ensure that core radiator Zeff and dilution are treated correctly
  cfspopcon/__init__.py
  cfspopcon/default_units.yaml
  cfspopcon/formulas/__init__.py
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/formulas/impurities/zeff_and_dilution_from_impurities.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radas.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radiated_power.py
  cfspopcon/formulas/seeded_radiators/__init__.py
  cfspopcon/formulas/seeded_radiators/core_radiator_conc.py
  cfspopcon/formulas/zeff_and_dilution/__init__.py
  docs/doc_sources/api.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/physics_glossary.rst
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_atomic_data.py
  tests/test_cli.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

Extend tests of impurities array to include datasets
  tests/test_helpers.py
Due: ruff_format

Repair tests
  tests/test_helpers.py
Due: ruff_format

Enable rerunning of algorithms
  cfspopcon/formulas/impurities/zeff_and_dilution_from_impurities.py
  cfspopcon/helpers.py
  tests/test_helpers.py
Due: ruff_format, ruff_check, mypy

Update version due to breaking changes
  pyproject.toml
Due: none

Fix duplicate entries in physics_glossary
  docs/doc_sources/physics_glossary.rst
Due: none

Use consistent naming and removed unused variables
  cfspopcon/default_units.yaml
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/helpers.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Enable repeated calls on Dataset with the reproducible results
  cfspopcon/default_units.yaml
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/formulas/impurities/set_up_impurity_concentration_array.py
  cfspopcon/formulas/impurities/zeff_and_dilution_from_impurities.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radiated_power.py
  cfspopcon/formulas/radiated_power/instrinsic_radiated_power_from_core.py
  cfspopcon/helpers.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/understanding_algorithms.ipynb
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_helpers.py
  tests/test_regression_against_cases.py
Due: ruff_format, ruff_check, mypy

Move impurity array helpers to impurities folder
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/helpers.py
  tests/test_helpers.py
Due: ruff_format, ruff_check, mypy

feat(unit_handling) allow extensible default units
  cfspopcon/unit_handling/default_units.py
  docs/doc_sources/getting_started.ipynb
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

make sure dict is initialized on import
  cfspopcon/unit_handling/default_units.py
Due: ruff_format, ruff_check, mypy

Improve documentation of new work
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  tests/test_regression_against_cases.py
Due: ruff_format, ruff_check, mypy

Additional rename
  cfspopcon/unit_handling/default_units.py
Due: ruff_format, ruff_check, mypy

Update cfspopcon/unit_handling/default_units.py
  cfspopcon/unit_handling/default_units.py
Due: ruff_format, ruff_check, mypy

feat(unit_handling) allow extensible default units (#82)
  cfspopcon/unit_handling/default_units.py
  docs/doc_sources/getting_started.ipynb
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

Ensure that core radiator Zeff and dilution are treated correctly (#66)
  cfspopcon/__init__.py
  cfspopcon/default_units.yaml
  cfspopcon/formulas/__init__.py
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/formulas/impurities/set_up_impurity_concentration_array.py
  cfspopcon/formulas/impurities/zeff_and_dilution_from_impurities.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radas.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radiated_power.py
  cfspopcon/formulas/radiated_power/instrinsic_radiated_power_from_core.py
  cfspopcon/formulas/seeded_radiators/__init__.py
  cfspopcon/formulas/seeded_radiators/core_radiator_conc.py
  cfspopcon/formulas/zeff_and_dilution/__init__.py
  cfspopcon/helpers.py
  docs/doc_sources/api.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  example_cases/SPARC_PRD/input.yaml
  pyproject.toml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_atomic_data.py
  tests/test_cli.py
  tests/test_helpers.py
  tests/test_regression_against_cases.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

refactor(ipdb): move ipdb to dev dependencies
  cfspopcon/cli.py
  poetry.lock
  pyproject.toml
Due: ruff_format, ruff_check, mypy

refactor(test): ensure pytest turns warnings into errors
  cfspopcon/unit_handling/default_units.py
  pyproject.toml
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

feat(ci): add a stale issues/pr bot
  .github/workflows/stale.yml
Due: none

feat(ci): add a stale issues/pr bot (#85)
  .github/workflows/stale.yml
Due: none

ensure error is pointing to the right variables
  cfspopcon/unit_handling/default_units.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

revert to --debug + conditional import
  cfspopcon/cli.py
Due: ruff_format, ruff_check, mypy

mypy fix
  cfspopcon/unit_handling/default_units.py
Due: ruff_format, ruff_check, mypy

refactor(ipdb): move ipdb to dev dependencies (#83)
  cfspopcon/cli.py
  poetry.lock
  pyproject.toml
Due: ruff_format, ruff_check, mypy

refactor(test): ensure pytest turns warnings into errors (#84)
  cfspopcon/unit_handling/default_units.py
  pyproject.toml
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

Bump version (v7 still in dev)
  pyproject.toml
Due: none

Update path to generate regression files
  .github/workflows/workflow_actions.yml
Due: none

Compatibility fix for Python<3.12
  tests/utils/key_checker.py
Due: ruff_format

Rename KeyChecker to VariableConsistencyChecker
  .pre-commit-config.yaml
  docs/doc_sources/physics_glossary.rst
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Remove option to change default default_units path
  cfspopcon/unit_handling/default_units.py
Due: ruff_format, ruff_check, mypy

Roll back to v7
  pyproject.toml
Due: none

Minor tidy-ups
  tests/utils/regression_results.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Update regexs
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Pre-commit fixes
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Path conditions:
  ruff_format: any of: \.py$
  ruff_check: any of: ^cfspopcon/ and \.py$
  mypy: any of: ^cfspopcon/ and \.py$ and not (^cfspopcon/plotting)
