Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

ruff_format:
  name: ruff_format
  entry: poetry run ruff format
  language: system

ruff_check:
  name: ruff_check
  entry: poetry run ruff check
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Add tests for plasma profiles
  tests/test_plasma_profiles.py
Due: ruff_format

Enable __call__ for Algorithm
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Get jch profile tests to pass
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Update input.yaml to v8.0.0 standard
  example_cases/SPARC_PRD/input.yaml
Due: none

Run pre-commit
  cfspopcon/deprecation_handler.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Switch profiles using algorithms instead of named options
  cfspopcon/__init__.py
  cfspopcon/cli.py
  cfspopcon/deprecation_handler.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/named_options.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_regression_against_cases.py
  tests/utils/regression_results.py
Due: ruff_format, ruff_check, mypy

Run ruff
  cfspopcon/deprecation_handler.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
Due: ruff_format, ruff_check, mypy

Update physics glossary with new variables
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Improve variable consistency checker
  README.md
  tests/test_helpers.py
  tests/test_regression_against_cases.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Add algorithm to calculate H98y2
  cfspopcon/formulas/auxiliary_power/auxiliary_power.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  cfspopcon/formulas/energy_confinement/read_energy_confinement_scalings.py
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/unit_handling/__init__.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_energy_confinement.py
Due: ruff_format, ruff_check, mypy

Tidy up output_core_dims for scalar returns
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/formulas/fusion_power/fusion_data.py
  cfspopcon/unit_handling/decorator.py
  tests/test_unit_handling/test_wraps_ufunc_decorator.py
Due: ruff_format, ruff_check, mypy

Make calc_input_power_for_fixed_auxiliary_power importable
  cfspopcon/formulas/auxiliary_power/__init__.py
Due: ruff_format, ruff_check, mypy

Formatting
  cfspopcon/formulas/auxiliary_power/auxiliary_power.py
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  cfspopcon/formulas/energy_confinement/read_energy_confinement_scalings.py
  cfspopcon/unit_handling/__init__.py
  docs/conf.py
  tests/test_energy_confinement.py
Due: ruff_format, ruff_check, mypy

Revert type declaration for Unitfull
  cfspopcon/unit_handling/__init__.py
Due: ruff_format, ruff_check, mypy

refactor(atomic_data): validate RADAS version at construction, keep interpolators lazy
  cfspopcon/formulas/atomic_data/atomic_data.py
Due: ruff_format, ruff_check, mypy

Repair smoke test
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
Due: ruff_format, ruff_check, mypy

Update poetry.lock
  poetry.lock
  pyproject.toml
Due: none

Ignore deprecationwarning triggered by Numpy 2.5
  pyproject.toml
Due: none

Repair doctest (needed to remove conflicting radas_version attribute from doc)
  cfspopcon/formulas/atomic_data/atomic_data.py
  docs/conf.py
Due: ruff_format, ruff_check, mypy

Ignore forbidden URL in doctest
  docs/conf.py
Due: ruff_format

Lazy-loading of radas data (#134)
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  docs/conf.py
  poetry.lock
  pyproject.toml
  tests/test_atomic_data.py
Due: ruff_format, ruff_check, mypy

Rebuild radas_dir on change of radas version or radas config only Can manually rebuild via workflow dispatch if required.
  .github/workflows/workflow_actions.yml
Due: none

Run pre-commit and doctest in parallel to pytest, to catch errors earlier
  .github/workflows/workflow_actions.yml
Due: none

Ignore link that breaks doctest
  docs/conf.py
Due: ruff_format

Use trapezoidal integration for volume integral
  cfspopcon/formulas/geometry/volume_integral.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Add test for volume integral
  tests/test_volume_integral.py
Due: ruff_format

Add nudge and suggested tests
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_volume_integral.py
Due: ruff_format, ruff_check, mypy

Enable endpoint = True and rebuild regression results
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

ci: move docs link-checking to a scheduled workflow
  .github/workflows/linkcheck.yml
  .github/workflows/workflow_actions.yml
Due: none

ci: bump ReadTheDocs build to ubuntu-24.04 and Python 3.12
  .readthedocs.yaml
Due: none

ci: bump ReadTheDocs build to ubuntu-24.04 and Python 3.12 (#146)
  .readthedocs.yaml
Due: none

ci: move docs link-checking to a scheduled workflow (#144)
  .github/workflows/linkcheck.yml
  .github/workflows/workflow_actions.yml
Due: none

Update tests/utils/variable_consistency_checker.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Improve variable consistency checker (#140)
  README.md
  tests/test_helpers.py
  tests/test_regression_against_cases.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Use CompositeAlgorithm to reduce boilerplate in profiles
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Fix anonymous algorithms
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Define rho in a separate algorithm step Remove the option to use a default rho for PRF fits
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Path conditions:
  ruff_format: any of: \.py$
  ruff_check: any of: ^cfspopcon/ and \.py$
  mypy: any of: ^cfspopcon/ and \.py$ and not (^cfspopcon/plotting)
