Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

.pre-commit-config.yaml:

# per default we only run over the files in the python package
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
        # but no large files anywhere ;)
        files: ''
        exclude: ".*getting_started.ipynb"
-   repo: local
    hooks:
      - id: ruff_format
        name: ruff_format 
        entry: poetry run ruff format
        language: system
        types: [python]
-   repo: local
    hooks:
      - id: ruff_check
        name: ruff_check
        entry: poetry run ruff check
        language: system
        types: [python]
        files: '^cfspopcon/'
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^cfspopcon/'
        exclude: ^cfspopcon/plotting
-   repo: local
    hooks:
      - id: check_variables
        name: Check variables
        entry: poetry run python tests/utils/variable_consistency_checker.py --run
        language: system
        pass_filenames: false
        always_run: true

Improve plotting and point outputs (#122)
  cfspopcon/file_io.py
  cfspopcon/plotting/plots.py
  cfspopcon/shaping_and_selection/__init__.py
  cfspopcon/shaping_and_selection/point_selection.py
  example_cases/SPARC_PRD/plot_popcon.yaml
Due: ruff_format, ruff_check, mypy

Implement CoeffInterpolator to handle new radas datasets
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radas.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radiated_power.py
  cfspopcon/formulas/radiated_power/intrinsic_radiated_power_from_core.py
  cfspopcon/formulas/scrape_off_layer/heat_flux_density.py
  cfspopcon/helpers.py
  cfspopcon/shaping_and_selection/line_selection.py
  cfspopcon/shaping_and_selection/transform_coords.py
  cfspopcon/unit_handling/decorator.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  poetry.lock
  pyproject.toml
  radas_config.yaml
  tests/regression_results/AUG_SepOS_minTe.json
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_atomic_data.py
Due: ruff_format, ruff_check, mypy

Switch to using 0.5e+17 as ne_tau by default
  .github/workflows/workflow_actions.yml
  Dockerfile
  docs/doc_sources/dev_guide.rst
  example_cases/SPARC_PRD/input.yaml
  radas_config.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: none

Bump setuptools (replaces #124)
  poetry.lock
  pyproject.toml
Due: none

Tidy up mean charge state with new interface to radas
  cfspopcon/formulas/impurities/impurity_charge_state.py
Due: ruff_format, ruff_check, mypy

Remove radas git hash from regression result Was actually pointing to POPCON hash
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_atomic_data.py
Due: ruff_format, ruff_check, mypy

Bump poetry version in Github actions
  .github/workflows/workflow_actions.yml
Due: none

Simplify type-hinting for profiles
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Bump version to 7.2.0
  pyproject.toml
Due: none

Update radas version
  poetry.lock
  pyproject.toml
Due: none

Check radas version in atomic data
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_atomic_data.py
  tests/test_regression_against_cases.py
Due: ruff_format, ruff_check, mypy

Reduce significant figures in JSON write
  cfspopcon/file_io.py
  tests/regression_results/AUG_SepOS_minTe.json
  tests/regression_results/PRD.json
Due: ruff_format, ruff_check, mypy

Update cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
Due: ruff_format, ruff_check, mypy

Update tests/test_atomic_data.py
  tests/test_atomic_data.py
Due: ruff_format

Suggestions from review
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
Due: ruff_format, ruff_check, mypy

Improve interface to radas data (#126)
  .github/workflows/workflow_actions.yml
  Dockerfile
  cfspopcon/file_io.py
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radas.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/radiated_power.py
  cfspopcon/formulas/radiated_power/intrinsic_radiated_power_from_core.py
  cfspopcon/formulas/scrape_off_layer/heat_flux_density.py
  cfspopcon/helpers.py
  cfspopcon/shaping_and_selection/line_selection.py
  cfspopcon/shaping_and_selection/transform_coords.py
  cfspopcon/unit_handling/decorator.py
  cfspopcon/variables.yaml
  docs/doc_sources/dev_guide.rst
  docs/doc_sources/physics_glossary.rst
  example_cases/SPARC_PRD/input.yaml
  poetry.lock
  pyproject.toml
  radas_config.yaml
  tests/regression_results/AUG_SepOS_minTe.json
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_atomic_data.py
  tests/test_regression_against_cases.py
Due: ruff_format, ruff_check, mypy

added new profile option
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
Due: ruff_format, ruff_check, mypy

format
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

cleanup
  cfspopcon/variables.yaml
Due: none

refactor new profiles and update tests
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/formulas/energy_confinement/switch_confinement_scaling_on_threshold.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/test_atomic_data.py
  tests/test_confinement_switch.py
  tests/test_energy_confinement.py
  tests/test_helpers.py
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

put interpolator error handling back to fail-fast
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  tests/test_atomic_data.py
Due: ruff_format, ruff_check, mypy

snap nearest rho grid point to the pedestal location to ensure that it is resolved properly. only build jch profiles if requested to prevent breakage in existing uses of other profiles.
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

go back to peak/pedestal peaking formulation
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

refactor repetitive function calls
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

update volume integral function to handle nonuniform grid
  cfspopcon/formulas/geometry/volume_integral.py
  tests/test_volume_integral.py
Due: ruff_format, ruff_check, mypy

add explicit note that peaking is interpreted differently for jch profiles
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Update pyproject to match updated radas Need to also update regression result for new radas version
  poetry.lock
  pyproject.toml
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: none

Run ruff
  cfspopcon/algorithm_class.py
  cfspopcon/file_io.py
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/fusion_power/average_fuel_ion_mass.py
  cfspopcon/formulas/fusion_power/fusion_rates.py
  cfspopcon/formulas/impurities/edge_radiator_conc.py
  cfspopcon/formulas/impurities/impurity_array_helpers.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/scrape_off_layer/separatrix_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/required_power_loss_fraction.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/separatrix_pressure.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_density.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_flux.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_first_model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
  cfspopcon/input_file_handling.py
  cfspopcon/plotting/coordinate_formatter.py
  cfspopcon/plotting/plot_style_handling.py
  cfspopcon/plotting/plots.py
  cfspopcon/shaping_and_selection/point_selection.py
  cfspopcon/shaping_and_selection/transform_coords.py
  cfspopcon/unit_handling/__init__.py
  cfspopcon/unit_handling/decorator.py
  cfspopcon/unit_handling/default_units.py
  cfspopcon/unit_handling/setup_unit_handling.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  tests/test_atomic_data.py
  tests/test_input_file_handling.py
Due: ruff_format, ruff_check, mypy

Update github actions to latest
  .github/workflows/workflow_actions.yml
Due: none

Fix incorrect path in pyproject.toml
  pyproject.toml
Due: none

Update cfspopcon version
  pyproject.toml
Due: none

Bump dependencies over major versions
  cfspopcon/unit_handling/setup_unit_handling.py
  poetry.lock
  pyproject.toml
Due: ruff_format, ruff_check, mypy

backsolve pedestal peaking in jch profiles and provide pedestal peaking outputs so that inputs and outputs are consistent regardless of which profiles are selected
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/variables.yaml
  tests/test_plasma_profiles.py
  tests/test_regression_against_cases.py
Due: ruff_format, ruff_check, mypy

update reference outputs
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

update tuple return order to keep old outputs in the same place. update test reference outputs. add note about re-generating test outputs to the readme.
  README.md
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

add P_alpha as an input to power balance instead of assuming DT fuel
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/variables.yaml
  tests/test_energy_confinement.py
Due: ruff_format, ruff_check, mypy

update tests
  tests/test_regression_against_cases.py
Due: ruff_format

update grid to avoid singularity when mixing profile types
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

rescale PRF profiles to protect volume average
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/formulas/geometry/volume_integral.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

fix yaml formatting
  .github/workflows/workflow_actions.yml
Due: none
