Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

ruff_format:
  name: ruff_format
  entry: poetry run ruff format
  language: system

ruff_check:
  name: ruff_check
  entry: poetry run ruff check
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

Use Zenodo concept DOI in Github bade
  README.md
Due: none

Save __init__.py
  cfspopcon/formulas/__init__.py
Due: ruff_format, ruff_check, mypy

Regression results
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: none

Update docs/doc_sources/api.rst
  docs/doc_sources/api.rst
Due: none

Auxiliary spelling correction (#102)
  cfspopcon/formulas/__init__.py
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/auxiliary_power/auxiliary_power.py
  cfspopcon/formulas/auxillary_power/__init__.py
  cfspopcon/formulas/auxillary_power/auxillary_power.py
  cfspopcon/formulas/fusion_power/fusion_gain.py
  cfspopcon/variables.yaml
  docs/doc_sources/api.rst
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/physics_glossary.rst
  docs/doc_sources/understanding_algorithms.ipynb
  example_cases/SPARC_PRD/input.yaml
  example_cases/SPARC_PRD/plot_popcon.yaml
  example_cases/SPARC_PRD/plot_remapped.yaml
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Switch from Hively to Bosch-Hale fusion cross-section
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: none

Update notebooks
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
Due: none

Use all significant figures from Bosch-Hale
  cfspopcon/formulas/fusion_power/fusion_data.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Fix notebook error
  docs/doc_sources/separatrix_operational_space.ipynb
Due: none

Update fusion cross-section to Bosch-Hale for PRD (#101)
  cfspopcon/formulas/fusion_power/fusion_data.py
  docs/doc_sources/getting_started.ipynb
  docs/doc_sources/separatrix_operational_space.ipynb
  docs/doc_sources/time_independent_inductances_and_fluxes.ipynb
  docs/doc_sources/understanding_algorithms.ipynb
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Release version 7
  poetry.lock
  pyproject.toml
Due: none

Add deuterium, tritium and boron species
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/named_options.py
Due: ruff_format, ruff_check, mypy

Use atomic number stored in radas files
  cfspopcon/formulas/impurities/impurity_charge_state.py
Due: ruff_format, ruff_check, mypy

Add deuterium, tritium and boron species (compatibility with cfs-energy/radas#18) (#104)
  cfspopcon/formulas/impurities/impurity_charge_state.py
  cfspopcon/named_options.py
Due: ruff_format, ruff_check, mypy

chore: bump version to 7.0.1
  pyproject.toml
Due: none

Remove percent, fix minor bug in n20 alias def
  cfspopcon/unit_handling/setup_unit_handling.py
Due: ruff_format, ruff_check, mypy

Use n19/n20 as unit symbol
  cfspopcon/unit_handling/setup_unit_handling.py
Due: ruff_format, ruff_check, mypy

Update setup_unit_handling.py
  cfspopcon/unit_handling/setup_unit_handling.py
Due: ruff_format, ruff_check, mypy

Add algorithm to limit Pfus by changing fuel mix
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/fusion_power/fusion_power_reduction.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_fusion_power_reduction.py
Due: ruff_format, ruff_check, mypy

Add kinetic correction functionality to 2PM solver, plus new example cases
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/parallel_conduction.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/upstream_SOL_collisionality.py
  cfspopcon/helpers.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
  example_cases/SPARC_PRD_FluxLim/input.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_Tt.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_Tu.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_collisionality.yaml
  example_cases/SPARC_PRD_FluxLim/plot_SOL_fke.yaml
  example_cases/SPARC_PRD_FluxLim/plot_popcon.yaml
  example_cases/SPARC_PRD_FluxLim/plot_remapped.yaml
  example_cases/SPARC_PRD_KinCorr/input.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_Tt.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_Tu.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_collisionality.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_dgamma.yaml
  example_cases/SPARC_PRD_KinCorr/plot_SOL_fke.yaml
  example_cases/SPARC_PRD_KinCorr/plot_popcon.yaml
  example_cases/SPARC_PRD_KinCorr/plot_remapped.yaml
Due: ruff_format, ruff_check, mypy

Add Kallenbach momentum loss function
  cfspopcon/file_io.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/momentum_loss_functions.py
  cfspopcon/named_options.py
  cfspopcon/unit_handling/decorator.py
Due: ruff_format, ruff_check, mypy

Fix issue with scalar eval / multi return for wraps_ufunc
  cfspopcon/unit_handling/decorator.py
Due: ruff_format, ruff_check, mypy

Minor fix for plotting test
  tests/test_infra/test_plotting.py
Due: ruff_format

Update cfspopcon/file_io.py
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

Add warning import for file_io
  cfspopcon/file_io.py
  cfspopcon/unit_handling/decorator.py
Due: ruff_format, ruff_check, mypy

Remove Kallenbach fmom function for now
  cfspopcon/formulas/scrape_off_layer/two_point_model/momentum_loss_functions.py
  cfspopcon/named_options.py
Due: ruff_format, ruff_check, mypy

Python 3.9 doesn't understand "|" in type hints
  cfspopcon/file_io.py
Due: ruff_format, ruff_check, mypy

Further error improvements
  cfspopcon/unit_handling/decorator.py
Due: ruff_format, ruff_check, mypy

Update docker file
  Dockerfile
Due: none

Switch to using minimal notebook
  Dockerfile
Due: none

Improved error messages from wraps_ufunc (#108)
  cfspopcon/algorithm_class.py
  cfspopcon/file_io.py
  cfspopcon/unit_handling/decorator.py
Due: ruff_format, ruff_check, mypy

Remove percent, fix minor bug in n20 alias def (#106)
  cfspopcon/unit_handling/setup_unit_handling.py
  tests/test_infra/test_plotting.py
Due: ruff_format, ruff_check, mypy

Update docker file (#110)
  Dockerfile
Due: none

Improve flexibility of input file handling
  .gitignore
  cfspopcon/algorithm_class.py
  cfspopcon/file_io.py
  cfspopcon/input_file_handling.py
  docs/conf.py
  pyproject.toml
  tests/regression_results/AUG_SepOS_result.nc
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_algorithms_class.py
  tests/test_confinement_switch.py
  tests/test_docs.py
  tests/test_for_anonymous_algorithms.py
  tests/test_helpers.py
  tests/test_infra/test_line_selection.py
  tests/test_input_file_handling.py
  tests/test_reattachment.py
  tests/test_regression_against_cases.py
  tests/test_sepos.py
  tests/test_unit_handling/test_default_units.py
Due: ruff_format, ruff_check, mypy

Split input dict processing from yaml read
  cfspopcon/__init__.py
  cfspopcon/input_file_handling.py
Due: ruff_format, ruff_check, mypy

Repair tests
  tests/test_input_file_handling.py
Due: ruff_format

Update cfspopcon/input_file_handling.py
  cfspopcon/input_file_handling.py
Due: ruff_format, ruff_check, mypy

Update input_file_handling.py
  cfspopcon/input_file_handling.py
Due: ruff_format, ruff_check, mypy

Path conditions:
  ruff_format: any of: \.py$
  ruff_check: any of: ^cfspopcon/ and \.py$
  mypy: any of: ^cfspopcon/ and \.py$ and not (^cfspopcon/plotting)
