Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

.pre-commit-config.yaml:

# per default we only run over the files in the python package
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
        # but no large files anywhere ;)
        files: ''
        exclude: ".*getting_started.ipynb"
-   repo: local
    hooks:
      - id: ruff_format
        name: ruff_format 
        entry: poetry run ruff format
        language: system
        types: [python]
-   repo: local
    hooks:
      - id: ruff_check
        name: ruff_check
        entry: poetry run ruff check
        language: system
        types: [python]
        files: '^cfspopcon/'
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^cfspopcon/'
        exclude: ^cfspopcon/plotting
-   repo: local
    hooks:
      - id: check_variables
        name: Check variables
        entry: poetry run python tests/utils/variable_consistency_checker.py --run
        language: system
        pass_filenames: false
        always_run: true

Add tests for plasma profiles
  tests/test_plasma_profiles.py
Due: ruff_format

Get jch profile tests to pass
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Enable __call__ for Algorithm
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Discover algorithms via walking through module
  cfspopcon/__init__.py
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  tests/test_algorithms_class.py
  tests/test_for_anonymous_algorithms.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Bump to version 9 due to breaking changes
  pyproject.toml
Due: none

Tidy up __init__.py
  cfspopcon/__init__.py
  cfspopcon/formulas/atomic_data/__init__.py
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/fusion_power/__init__.py
  cfspopcon/formulas/geometry/__init__.py
  cfspopcon/formulas/impurities/__init__.py
  cfspopcon/formulas/impurities/core_radiator_conc.py
  cfspopcon/formulas/metrics/__init__.py
  cfspopcon/formulas/plasma_current/__init__.py
  cfspopcon/formulas/plasma_current/flux_consumption/__init__.py
  cfspopcon/formulas/plasma_pressure/__init__.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/impurity_radiated_power/__init__.py
  cfspopcon/formulas/radiated_power/intrinsic_radiated_power_from_core.py
  cfspopcon/formulas/scrape_off_layer/__init__.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/__init__.py
  cfspopcon/formulas/separatrix_conditions/__init__.py
  cfspopcon/formulas/separatrix_conditions/separatrix_operational_space/__init__.py
  docs/doc_sources/separatrix_operational_space.ipynb
  tests/test_fluxes_and_inductances.py
  tests/test_reattachment.py
  tests/test_registration_discovery.py
  tests/test_scrape_off_layer_model.py
  tests/test_sepos.py
Due: ruff_format, ruff_check, mypy

Run ruff
  cfspopcon/deprecation_handler.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
Due: ruff_format, ruff_check, mypy

Update physics glossary with new variables
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Run pre-commit
  cfspopcon/deprecation_handler.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Regenerate regression results for nudged radial grid
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: none

Repair tests after rebasing onto main
  cfspopcon/algorithm_class.py
  cfspopcon/variables.yaml
  docs/doc_sources/dev_guide.rst
  tests/test_volume_integral.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Document formulas API recursively via autosummary
  .gitignore
  docs/conf.py
  docs/doc_sources/api.rst
  docs/sphinx_templates/autosummary/module.rst
Due: ruff_format

docs: add CHANGELOG and document profile-machinery changes
  CHANGELOG.md
Due: none

fix: dedupe algorithm entries in variable consistency checker
  cfspopcon/variables.yaml
  tests/utils/variable_consistency_checker.py
Due: ruff_format

refactor(jch): remove unused grid-snapping helpers
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
Due: ruff_format, ruff_check, mypy

docs(jch): correct calc_jch_profiles docstring
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
Due: ruff_format, ruff_check, mypy

docs(algorithm): correct Algorithm.__call__ docstring and add tests
  cfspopcon/algorithm_class.py
  tests/test_algorithms_class.py
Due: ruff_format, ruff_check, mypy

Add JCH profiles (#139)
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/algorithm_class.py
  cfspopcon/cli.py
  cfspopcon/deprecation_handler.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/named_options.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  example_cases/SPARC_PRD/input.yaml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_algorithms_class.py
  tests/test_plasma_profiles.py
  tests/test_regression_against_cases.py
  tests/utils/regression_results.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format, ruff_check, mypy

Formatting
  cfspopcon/formulas/auxiliary_power/auxiliary_power.py
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  cfspopcon/formulas/energy_confinement/read_energy_confinement_scalings.py
  cfspopcon/unit_handling/__init__.py
  docs/conf.py
  tests/test_energy_confinement.py
Due: ruff_format, ruff_check, mypy

Revert type declaration for Unitfull
  cfspopcon/unit_handling/__init__.py
Due: ruff_format, ruff_check, mypy

Make calc_input_power_for_fixed_auxiliary_power importable
  cfspopcon/formulas/auxiliary_power/__init__.py
Due: ruff_format, ruff_check, mypy

Add algorithm to calculate H98y2
  cfspopcon/formulas/auxiliary_power/auxiliary_power.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  cfspopcon/formulas/energy_confinement/read_energy_confinement_scalings.py
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/unit_handling/__init__.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_energy_confinement.py
Due: ruff_format, ruff_check, mypy

Tidy up output_core_dims for scalar returns
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/formulas/fusion_power/fusion_data.py
  cfspopcon/unit_handling/decorator.py
  tests/test_unit_handling/test_wraps_ufunc_decorator.py
Due: ruff_format, ruff_check, mypy

Revert duplicated doc-fix
  docs/conf.py
Due: ruff_format

fix(energy_confinement): drop unused plasma_stored_energy return
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  tests/test_energy_confinement.py
Due: ruff_format, ruff_check, mypy

docs(changelog): add entries for energy-confinement routines
  CHANGELOG.md
Due: none

Jch energy confinement (#141)
  CHANGELOG.md
  cfspopcon/formulas/auxiliary_power/__init__.py
  cfspopcon/formulas/auxiliary_power/auxiliary_power.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  cfspopcon/formulas/energy_confinement/read_energy_confinement_scalings.py
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/formulas/fusion_power/fusion_data.py
  cfspopcon/unit_handling/decorator.py
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_energy_confinement.py
  tests/test_unit_handling/test_wraps_ufunc_decorator.py
Due: ruff_format, ruff_check, mypy

feat(plugins): add register_plugin for external algorithm registration
  CHANGELOG.md
  cfspopcon/__init__.py
  cfspopcon/plugins.py
  cfspopcon/unit_handling/default_units.py
  tests/test_plugins.py
Due: ruff_format, ruff_check, mypy

Populate the algorithm registry lazily
  cfspopcon/__init__.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Populate the algorithm registry in the variable consistency checker
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Fix the nitpicky docs build
  cfspopcon/algorithm_class.py
  docs/conf.py
  docs/doc_sources/api.rst
Due: ruff_format, ruff_check, mypy

Harden lazy algorithm discovery and document it accurately
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  docs/doc_sources/understanding_algorithms.ipynb
  tests/test_algorithms_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Build composite algorithms in a second pass, after the walk
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/energy_confinement/energy_confinement_time.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/variables.yaml
  tests/test_energy_confinement.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Rename CompositeAlgorithm.from_list to _build_from_list
  CHANGELOG.md
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Make a failed discovery recoverable, and align composite registration
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  tests/test_algorithms_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Fix discovery re-entrancy, and fail loudly rather than recovering
  CHANGELOG.md
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/__init__.py
  tests/test_algorithms_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy

Remove duplication from the registry and discovery changes
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Do not lose composite declarations when one of them fails to build
  cfspopcon/_discovery.py
  cfspopcon/algorithm_class.py
  tests/test_registration_discovery.py
Due: ruff_format, ruff_check, mypy
