Repository cfs-energy/cfspopcon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_check, mypy

ruff_format:
  name: ruff_format
  entry: poetry run ruff format
  language: system

ruff_check:
  name: ruff_check
  entry: poetry run ruff check
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

fix mypy lints
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/energy_confinement/solve_for_input_power.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

style fixes
  cfspopcon/formulas/atomic_data/atomic_data.py
  cfspopcon/formulas/energy_confinement/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

run check variables
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
Due: none

fix glossary generator
  cfspopcon/variables.yaml
  docs/doc_sources/physics_glossary.rst
  tests/test_helpers.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format

put explicit comparisons back
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Use radas v1!1.0.0 and poetry update
  poetry.lock
Due: none

Ruff and mypy fixes
  cfspopcon/algorithm_class.py
  cfspopcon/formulas/atomic_data/coeff_interpolator.py
  cfspopcon/formulas/plasma_current/flux_consumption/inductance_analytical_functions.py
  cfspopcon/formulas/scrape_off_layer/separatrix_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/required_power_loss_fraction.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/separatrix_pressure.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_density.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_flux.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_electron_temp.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/target_first_model.py
  cfspopcon/formulas/scrape_off_layer/two_point_model/two_point_model_algorithms.py
Due: ruff_format, ruff_check, mypy

Use poetry>=2,<3 in Github Actions
  .github/workflows/workflow_actions.yml
Due: none

Update workflow actions
  .github/workflows/workflow_actions.yml
Due: none

use get_item helper
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

run ruff format via pre-commit which produces different results from standalone
  tests/test_plasma_profiles.py
Due: ruff_format

docstring formatting for reST compatibility
  cfspopcon/formulas/atomic_data/atomic_data.py
Due: ruff_format, ruff_check, mypy

Patch Github Actions
  .github/workflows/workflow_actions.yml
Due: none

Patch Github Actions (#135)
  .github/workflows/workflow_actions.yml
Due: none

Lazy-loading of radas data
  cfspopcon/formulas/atomic_data/atomic_data.py
Due: ruff_format, ruff_check, mypy

Use trapezoidal integration for volume integral
  cfspopcon/formulas/geometry/volume_integral.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Add profile remapping function
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Use CompositeAlgorithm to reduce boilerplate in profiles
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Fix anonymous algorithms
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Define rho in a separate algorithm step Remove the option to use a default rho for PRF fits
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Switch profiles using algorithms instead of named options
  cfspopcon/__init__.py
  cfspopcon/cli.py
  cfspopcon/deprecation_handler.py
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/numerical_profile_fits.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  cfspopcon/named_options.py
  pyproject.toml
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_regression_against_cases.py
  tests/utils/regression_results.py
Due: ruff_format, ruff_check, mypy

Update input.yaml to v8.0.0 standard
  example_cases/SPARC_PRD/input.yaml
Due: none

Add tests for plasma profiles
  tests/test_plasma_profiles.py
Due: ruff_format

Enable __call__ for Algorithm
  cfspopcon/algorithm_class.py
Due: ruff_format, ruff_check, mypy

Get jch profile tests to pass
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/jch_profiles.py
  tests/test_plasma_profiles.py
Due: ruff_format, ruff_check, mypy

Update radas to v1!1.0.1
  poetry.lock
  pyproject.toml
Due: none

Add test of mixed zero and positive coeffs for CoeffInterpolator
  tests/test_atomic_data.py
Due: ruff_format

Improve variable consistency checker
  README.md
  tests/test_helpers.py
  tests/test_regression_against_cases.py
  tests/utils/variable_consistency_checker.py
Due: ruff_format

Update radas version in regression result
  tests/regression_results/PRD.json
  tests/regression_results/SPARC_PRD_result.nc
  tests/test_atomic_data.py
Due: ruff_format

Update pre-commit
  .pre-commit-config.yaml
Due: none

Use non-incremental mypy
  pyproject.toml
Due: none

Don't stop pipeline if mypy fails
  .pre-commit-config.yaml
Due: none

Add test of mixed zero and positive coeffs for CoeffInterpolator
  cfspopcon/formulas/atomic_data/atomic_data.py
  tests/test_atomic_data.py
Due: ruff_format, ruff_check, mypy

Add test for volume integral
  tests/test_volume_integral.py
Due: ruff_format

Use CompositeAlgorithm to reduce boilerplate in profiles
  cfspopcon/formulas/plasma_profiles/__init__.py
  cfspopcon/formulas/plasma_profiles/plasma_profiles.py
  tests/regression_results/SPARC_PRD_result.nc
Due: ruff_format, ruff_check, mypy

Path conditions:
  ruff_format: any of: \.py$
  ruff_check: any of: ^cfspopcon/ and \.py$
  mypy: any of: ^cfspopcon/ and \.py$ and not (^cfspopcon/plotting)
